<footer id="main-footer" class="main-footer <% if(pageData.template == "register"){ %>main-footer--register<% } %>">
	<div class="inner">
		<a href="#" class="main-footer__logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo-ft.png" alt="SKILL BRIDGE">
		</a>
		<nav class="main-footer__nav">
			<ul class="main-footer__menu" role="list">
				<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">会社概要</a></li>
				<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">プライバシーポリシー</a></li>
				<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">利用規約</a></li>
				<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">お問い合わせ</a></li>
			</ul>
		</nav>
		
	</div>
	<small class="main-footer__copyright">Copyright &copy; 2024 SKILL BRIDGE</small>
</footer>