<header id="main-header" class="main-header <% if(pageData.template != "index"){ %>main-header--child<% } %> <% if(pageData.parentId1 == "register_form"){ %>main-header--register<% } %>">
	<div class="main-header__inner">
		<a href="<%= RELATIVE_PATH %>" class="main-header__logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="" width="">
		</a>
		<span class="main-header__mobile-icon">
			<span class="main-header__mobile-icon-border"></span>
			<span class="main-header__mobile-icon-border"></span>
			<span class="main-header__mobile-icon-border"></span>
		</span>
		<% if(pageData.parentId1 != "register_form"){ %>
			<nav class="main-header__navGlobal">
				<ul class="main-header__menu" role="list">
					<li class="main-header__menu-item <% if(pageData.template == "index"){ %>is-active<% } %>"><a href="<%= RELATIVE_PATH %>" class="main-header__link">在籍エンジニア</a></li>
					<li class="main-header__menu-item <% if(pageData.template == "engineer_favorite"){ %>is-active<% } %>"><a href="<%= RELATIVE_PATH %>" class="main-header__link">サービス紹介</a></li>
					<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">お問い合わせ</a></li>
					<li class="main-header__menu-item main-header__menu-item--user js-login"><button class="c-btn__01">ログイン</button></li>
				</ul>
			</nav>
			<div class="main-header__user">
				<% if(pageData.parentId1 == "profile" || pageData.template == "contact"){ %>
					<a href="/profile/" class="main-header__user-info">
						<span class="main-header__user-name">三森 一輝</span>
						<span class="main-header__user-avatar">
							<img src="<%= RELATIVE_PATH %>img/common/img-user.png" alt="三森 一輝" width="54">
						</span>
					</a>
				<% }else{ %>
					<button class="c-btn__01 js-login">ログイン</button>
				<% } %>
			</div>
		<% }else{ %>
			<nav class="main-header__navGlobal main-header__navGlobal--register-form">
				<ul class="main-header__menu" role="list">
					<li class="main-header__menu-item">
						<a href="<%= RELATIVE_PATH %>" class="main-header__link">
							<img src="../img/common/download.png" width="24" alt="">履歴書のテンプレートをダウンロード
						</a>
					</li>
					<li class="main-header__menu-item">
						<a href="<%= RELATIVE_PATH %>" class="main-header__link">
							<img src="../img/common/upload.png" width="24" alt="">履歴書をアップロード
						</a>
					</li>
					<li class="main-header__menu-control">
						<div class="button r" id="button-1">
							<input type="checkbox" class="checkbox" />
							<div class="knobs"></div>
							<div class="layer"></div>
						</div>
					</li>
				</ul>
			</nav>
		<% } %>
	</div>
</header>

<div class="c-modal" id="login">
	<span class="c-modal__btn-close"></span>
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<h3 class="c-modal__ttl">アカウントでログイン</h3>
			<dl class="c-modal__dl">
				<dt class="c-modal__dt">メールアドレス<span>*</span></dt>
				<dd class="c-modal__dd">
					<input type="text" placeholder="example@gmail.com">
				</dd>
			</dl>
			<dl class="c-modal__dl">
				<dt class="c-modal__dt">パスワード<span>*</span></dt>
				<dd class="c-modal__dd">
					<input type="password" id="pass-field" placeholder="パスワード">
					<span class="toggle-pass" toggle="#pass-field"></span>
				</dd>
			</dl>
			<div class="c-modal__forget-pass"><a href="#" class="txt-link js-forgetpass">パスワードを忘れた場合</a></div>
			<button class="c-modal__submit">ログイン</button>
			<div class="c-modal__register"><a href="#" class="txt-link js-register">アカウント新規登録</a></div>
		</form>
	</div>
</div>

<div class="c-modal" id="register">
	<span class="c-modal__btn-close"></span>
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<h3 class="c-modal__ttl">新規登錄</h3>
			<dl class="c-modal__dl">
				<dt class="c-modal__dt">メールアドレス<span>*</span></dt>
				<dd class="c-modal__dd">
					<input type="text" placeholder="example@gmail.com">
				</dd>
			</dl>
			<button class="c-modal__submit">送信</button>
			<div class="c-modal__register"><a href="#" class="txt-link js-login">ログイン画面に戻る</a></div>
		</form>
	</div>
</div>

<div class="c-modal" id="forget-pass">
	<span class="c-modal__btn-close"></span>
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<h3 class="c-modal__ttl">パスワードをお忘れの場合</h3>
			<dl class="c-modal__dl">
				<dt class="c-modal__dt">メールアドレス<span>*</span></dt>
				<dd class="c-modal__dd">
					<input type="text" placeholder="example@gmail.com">
				</dd>
			</dl>
			<button class="c-modal__submit">送信</button>
			<div class="c-modal__register"><a href="#" class="txt-link js-login">ログイン画面に戻る</a></div>
		</form>
	</div>
</div>


<% if(pageData.template == "sendmail"){ %>
	<div class="c-modal is-show" id="send-mail">
		<span class="c-modal__btn-close"></span>
		<div class="c-modal__wp">
			<form action="" method="post" class="c-modal__form">
				<h3 class="c-modal__ttl">メール送信完了</h3>
				<div class="c-modal__desc">
					仮メールの送信を完了しました。<br>メール記載のURLから本登録を行います。
				</div>
				<button class="c-modal__submit">ログイン画面に戻る</button>
			</form>
		</div>
	</div>
<% } %>
