<section class="engineer-page">
	<div class="inner inner--lg">
		<h1 class="c-ttl__02">エンジニア一覧</h1>
		<div class="box-filter">
			<div class="box-filter__keyword">
				<span class="box-filter__label">キーワードで探す</span>
				<div class="box-filter__keyword-input">
					<input type="search" class="form-control" placeholder="キーワード">
				</div>
			</div>
			<div class="box-filter__exp">
				<span class="box-filter__label">実務経験</span>
				<input type="text" class="form-control" placeholder="xx年">
			</div>
			<div class="box-filter__skill">
				<span class="box-filter__label">スキルで探す <span class="qty-submit"></span></span>
				<div class="form-control form-control--select js-fillter"></div>
				<div class="box-selected box-selected--styles02">
					<ul class="box-selected__result"></ul>
				</div>
			</div>
			<button class="c-btn__submit">検索</button>
			<button class="box-filter__btn js-fillter sp">
				<span class="ico"><img src="<%= RELATIVE_PATH %>img/common/ico-filter.png" alt="" width="16"></span>
				<span class="qty">3</span>
			</button>
		</div>
		<ul class="engineer-page__list">
			<li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
			<li class="engineer-page__list-item is-far">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
			<li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
			<li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
			<li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
			<li class="engineer-page__list-item is-far">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
			<li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
			<li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="engineer-page__load-more">
			<a href="#" class="c-btn__loadmore">Load more</a>
		</div>
	</div>
</section>


<div class="c-modal c-modal--engineer" id="fillter">
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__fillter">
			<h3 class="c-modal__fillter-ttl">得意とする分野・スキル</h3>
			<span class="c-modal__fillter-close"><img src="../img/common/x-close.png" alt="Close" width="24"></span>
			<div class="c-modal__fillter-flex">
				<div class="col-type">
					<h2 class="c-ttl__04">TYPE</h2>
					<div class="col-type__wp">
						<ul class="c-tabs js-tabs">
							<li class="is-active"><a href="#" data-tab="tab01">担当業務<span class="qty">(1)</span></a></li>
							<li><a href="#" data-tab="tab02">言語・フレームワーク</a></li>
							<li><a href="#" data-tab="tab03">DB (2)</span></a></li>
							<li><a href="#" data-tab="tab04">その他ネットワーク、クラウド等</a></li>
						</ul>
					</div>
				</div>
				<div class="col-hint">
					<h2 class="c-ttl__04">HINT</h2>
					<div class="col-hint___wp">
						<div class="tabs-content current" id="tab01">
							<ul class="list-skills">
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="企画">
										<span class="txt-checkbox"><span>企画</span></span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="要件定義">
										<span class="txt-checkbox"><span>要件定義</span></span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="デザイン">
										<span class="txt-checkbox"><span>デザイン</span></span>
									</label>
								</li>
							</ul>
						</div>
						<div class="tabs-content" id="tab02">
							<ul class="list-skills">
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="詳細設計">
										<span class="txt-checkbox"><span>詳細設計</span></span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="構築、設定">
										<span class="txt-checkbox"><span>構築、設定</span></span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="ヘルプデスク">
										<span class="txt-checkbox"><span>ヘルプデスク</span></span>
									</label>
								</li>
							</ul>
						</div>
						<div class="tabs-content" id="tab03">
							<ul class="list-skills">
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="企画">
										<span class="txt-checkbox">企画</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="要件定義">
										<span class="txt-checkbox">要件定義</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="デザイン">
										<span class="txt-checkbox">デザイン</span>
									</label>
								</li>
							</ul>
						</div>
						<div class="tabs-content" id="tab04">
							<ul class="list-skills">
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="企画">
										<span class="txt-checkbox">企画</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="要件定義">
										<span class="txt-checkbox">要件定義</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" class="form-checbox" value="デザイン">
										<span class="txt-checkbox">デザイン</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="box-selected">
				<div class="box-selected__heading">
					<h3 class="c-ttl__04">SELECTED<span class="qty">(0)</span></h3>
					<button class="txt-delete-all">全て削除</button>
				</div>
				<ul class="box-selected__result"></ul>
			</div>
			<div class="c-modal__control">
				<button class="c-modal__submit c-modal__submit--gray js-cancel">キャンセル</button>
				<a href="#" class="c-modal__submit js-submit-skills">検索</a>
			</div>
		</form>

		<div class="c-modal__filltersp">
			<div class="c-modal__filltersp-heading">
				<button class="c-modal__filltersp-cancel js-cancel"><img src="../img/common/arrow-left.png" alt="Close" width="24"></button>
				<h3 class="c-modal__filltersp-ttl">Fillter</h3>
				<button class="txt-search">検索</button>
			</div>
			<div class="scroll">
				<dl class="c-modal__filltersp-dl">
					<dt class="c-modal__filltersp-dt">実務経験</dt>
					<dd class="c-modal__filltersp-dd">
						<input type="text" placeholder="xx年" class="form-control">
					</dd>
				</dl>
				<dl class="c-modal__filltersp-dl mb-0">
					<dt class="c-modal__filltersp-dt">スキルで探す</dt>
					<dd class="c-modal__filltersp-dd">
						<div class="box-selected">
							<div class="box-selected__heading">
								<h3 class="c-ttl__04">Selected<span class="qty">(0)</span></h3>
								<button class="txt-delete-all">全て削除</button>
							</div>
							<ul class="box-selected__result"></ul>
						</div>
					</dd>
				</dl>
				<dl class="fillter-acc">
					<dt class="fillter-acc__label">担当業務<span>(1)</span></dt>
					<dd class="fillter-acc__content tabs-content">
						<ul class="list-skills">
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="企画">
									<span class="txt-checkbox"><span>企画</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="要件定義">
									<span class="txt-checkbox"><span>要件定義</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="デザイン">
									<span class="txt-checkbox"><span>デザイン</span></span>
								</label>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="fillter-acc">
					<dt class="fillter-acc__label">言語・フレームワーク</dt>
					<dd class="fillter-acc__content tabs-content">
						<ul class="list-skills">
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="企画">
									<span class="txt-checkbox"><span>企画</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="要件定義">
									<span class="txt-checkbox"><span>要件定義</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="デザイン">
									<span class="txt-checkbox"><span>デザイン</span></span>
								</label>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="fillter-acc">
					<dt class="fillter-acc__label">DB (2)</dt>
					<dd class="fillter-acc__content tabs-content">
						<ul class="list-skills">
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="企画">
									<span class="txt-checkbox"><span>企画</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="要件定義">
									<span class="txt-checkbox"><span>要件定義</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="デザイン">
									<span class="txt-checkbox"><span>デザイン</span></span>
								</label>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="fillter-acc">
					<dt class="fillter-acc__label">その他ネットワーク、クラウド等</dt>
					<dd class="fillter-acc__content tabs-content">
						<ul class="list-skills">
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="企画">
									<span class="txt-checkbox"><span>企画</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="要件定義">
									<span class="txt-checkbox"><span>要件定義</span></span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" class="form-checbox" value="デザイン">
									<span class="txt-checkbox"><span>デザイン</span></span>
								</label>
							</li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>